---
import Base from "@/layouts/Base.astro";
import { Resource } from "sst";
console.log(Resource, "Resource");

---

<Base title="INFO">
  <section class="section">
    <div>
      <!-- also valid css style -->
      <div style={{ fontSize: "55px" }}>
        <button class="btn" onclick="console.log('hello', 'world')"
          >hello world</button
        >
        <br />

        {Resource.TursoToken.value} <br/>
        {Resource.ResendApiKey.value}

      </div>
    </div>
  </section>
</Base>
