---
import Base from "@/layouts/Base.astro";
import { Resource } from "sst";

const {user, session} = Astro.locals;

---

<Base title="INFO">
  <section class="section">
    <div>
      <!-- also valid css style -->
      <div style={{ fontSize: "55px" }}>
        <button class="btn" onclick="console.log('hello', 'world')"
          >hello world</button
        >
        <br />
          <!-- for testing -->
        <!-- {Resource.TursoToken.value} <br/>
        {Resource.ResendApiKey.value} <br/> -->
        {JSON.stringify(user, null, 2)} <br/>
        <br/>
        {JSON.stringify(session, null, 2)} 

      </div>
    </div>
  </section>
</Base>
