---
import Base from "@/layouts/Base.astro";
import SubTitle from "@/partials/SubTitle.astro";
import { getEntry } from "astro:content";
import { getLang } from "@/utils/i18n";
import PageHeader from "@/partials/PageHeader.astro";
import { Image } from 'astro:assets';

export const prerender = false;

const test = await getEntry("test", "test");
const lang = getLang(Astro.url.pathname);

const { header1, header2, sub, text } = test.data[lang];

---

<Base
  title={"test-page"}
  meta_title={"testing-page"}
  description={"description what a testing page is"}
  noFooter
>
  <section class="section px-4 pt-0 pb-0 my-14 mx-auto">
    <div class="container">
      <div class="row justify-center mb-14">
        <Image style={{
          width: "120px",
        }} src={'/images/flowa05.png'} alt="flower logo image" width="120" height="120" />
      </div>
      <div class="text-center">
        <PageHeader title={header1} />
        <SubTitle title={header2} />
      </div>
      <p>{text}</p>
    </div>
  </section>
</Base>
